@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    box-sizing: border-box;

}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
body {
    font-family: 'Open Sans',
    sans-serif;
}

font {
font-family: 'Open Sans',
sans-serif;
font-family: 'Oswald',
sans-serif;
}

/* common css */


:root {
    --hlt_clr2: #0872b9;
 --hlt_clr:#5bc5f4;
 --white-gray_clr: #f1f1f1;
 --gray_clr: #555555;
 --dark: #353535;
 --white_clr: #ffffff;
 --light_white: #e7e7e7;
 

}
.container {
    width: 1170px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.x-center {
    justify-content: center;
}
.y-center {
    align-items: center;
}
.space {
    justify-content: space-between;
}

/* common css */

/* top header starts here */
#topheader {
    background-color: var(--hlt_clr2);
}
.topleft h2 {
    color: var(--light_white);
    font-family: 'Open Sans',
    sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}
.topright i {
    color: var(--light_white);
    font-size: 14px;
    margin: 10px 20px;
    transition: all linear 0.3s;
}
.topright i:hover {
    color: var(--dark);
}
/* top header ends here */

/* bottom header starts here */
.bottomleft img {
    display: block;
    padding: 20px 0;
}
.bottomright ul li {
    display: inline-block;
}
.bottomright ul li a {
    display: block;
    padding: 35px 15px;
    font-size: 14px;
    font-family: 'Open Sans',
    sans-serif;
    color: var(--dark);
    transition: all linear 0.3s;
}
.bottomright ul li a:hover {
    color: var(--hlt_clr2);
}
/* bottom header ends here */


/* banner section starts here */

#banner .slider-content {
    height: 400px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 1;
    
}
#banner .slider-content:after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    
    height: 100%;
    width: 100%;
    z-index: -1;
    

}
.buttons {
   text-align: center;
}

.banner-content {
    
    
    
    text-align: right;
}
.banner-content h2 {
    font-family: 'Oswald',
    sans-serif;
    font-size: 30px;
    color: var(--white_clr);
    font-weight: 400;
    padding-top: 65px;
    
}
.banner-content h3 {
    font-family: 'Oswald',
        sans-serif;
    font-size: 40px;
    color: var(--white_clr);
    font-weight: 700;
}
.banner-content p {
    font-family: 'Open Sans',
    sans-serif;
    font-size: 13px;
    color: var(--white_clr);
    font-weight: 400;
    width: 440px;
    line-height: 24px;
    text-align: right;
    display: inline-block;
    margin-top: 20px;
}
.hire a {
    font-family: 'Oswald',
    sans-serif;
    font-weight: 500;
    color: var(--white_clr);
    font-size: 14px;
    border: solid 1px var(--white_clr);
    padding: 10px 20px;
    transition: all linear 0.3s;

}
.hire :first-child {
    margin-right: 15px;
}
.hire a:hover {
    background-color: var(--hlt_clr2);
    border: solid 1px transparent;
}
.hire {
    margin-top: 30px;
}

#banner .slider-icons.fa-arrow-left {
    border: 1px solid var(--hlt_clr);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    
    color: white;
    position: absolute;
    left: 10px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: all linear 0.3s;
    
}

#banner .slider-icons.fa-arrow-right {
    border: 1px solid var(--hlt_clr);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    
    color: white;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all linear 0.3s;
    ;
}
#banner .slider-icons {
    transition: all linear 0.3s;
    visibility: hidden;
    opacity: 0;
}
#banner:hover .slider-icons {
    visibility: visible;
    opacity: 1;
}
#banner .slider-icons:hover {
    background-color: var(--hlt_clr2);
}
.slider-dots li {
    display: inline-block;
    line-height: 0;
    margin: 0 4px;
    text-align: center;
    
    
}
.slider-dots li button {
    background: none;
    border: none;
    font-size: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--hlt_clr);
    border-radius: 50%;
    cursor: pointer;
    transition: all linear 0.3s;
    
}
.slider-dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 40px;
    opacity: 0;
    transition: all linear 0.3s;
}
#banner:hover .slider-dots {
    opacity: 1;
}
.slider-dots li.slick-active button {
    background-color: var(--white_clr);
    transition: all linear 0.3s;
}
/* banner section ends here */

/* about section starts here */
.common-h2 {
    text-align: center;
    font-family: 'Oswald',
    sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--dark);
    margin-top: 55px;
    position: relative;
}
.common-h2:before {
    content: '';
    width: 93px;
    height: 1px;
    background-color: var(--hlt_clr2);
    position: absolute;
    left: 511px;
    top: 47px;
}
.about-us {
    margin-top: 45px;
}
.menp p {
    margin-top: 35px;
    line-height: 24px;
    font-size: 13px;
    color: var(--gray_clr);
    font-family: 'Open Sans',
    sans-serif;
    margin-left: 15px;
    
}
.button__ {
    
    text-align: end;
}
#readmore {
    color: var(--hlt_clr);
    cursor: pointer;
    font-size: 20px;
    border: none;
    background: none;
}
#test {
    display: none;
}

/* about section ends here */

/* service section starts here */

.common-services {
    text-align: center;
    font-family: 'Oswald',
        sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--dark);
    margin-top: 55px;
    position: relative;
}
.common-services:before {
    content: '';
    width: 98px;
    height: 1px;
    background-color: var(--hlt_clr2);
    position: absolute;
    left: 482px;
    top: 47px;
}
.pen img {
    display: block;
    border: 1px solid var(--white-gray_clr);
    border-radius: 50%;
    background-color: var(--white-gray_clr);
    padding: 15px 20px;
    
    
    position: absolute;
    left: 143px;
    bottom: 137px;
    box-shadow: 0 0 0 3px white, inset 0 0 0 2px white;
    transition: all linear 0.3s;
    cursor: pointer;
    
}
.pen img:hover {
    background-color: var(--hlt_clr);
}
.penbox {
    width: 364px;
    height: 175px;
    background-color: var(--white-gray_clr);
    text-align: center;
    transition: all linear 0.3s;
    
    
}
.penbox:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    
}
.penbox h2 {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark);
    font-family: 'Oswald',
    sans-serif;
    padding-top: 50px;
}
.penbox p {
    font-size: 13px;
    font-family: 'Open Sans',
    sans-serif;
    color: var(--dark);
    line-height: 20px;
    margin: 20px auto;
    width: 261px;
}
.pen {
    position: relative;
    margin-top: 70px;
}
.icon2 img {
    padding: 16px;

}
.icon3 img {
    padding: 18px;

}
/* service section ends here */


/* portfolio section starts here */


.common-portfolio {
    text-align: center;
    font-family: 'Oswald',
        sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--dark);
    margin-top: 55px;
    position: relative;
}

.common-portfolio:before {
        content: '';
        width: 104px;
        height: 1px;
        background-color: var(--hlt_clr2);
        position: absolute;
        left: 469px;
        top: 47px;
}


.pf img {
    display: block;
    margin-top: 50px;
    cursor: pointer;
    position: relative;
    
    
}
.picture {
    display: flex;
    justify-content: space-around;
    
}
.image {
position: relative;
cursor: pointer;
}
.image:before {
    content: '';
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    z-index: 1;
    opacity: 65%;
    transition: all linear 0.3s;
}
.overlay {
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    
    z-index: 2;
    transition:  all linear 0.3s;
    

}
.overlay i {
    font-size: 20px;
    color: var(--white_clr);
    
    border: solid 1px var(--white_clr);
    border-radius: 50%;
    padding: 10px;
    transition: all linear 0.3s;
    
}
.overlay i:hover {
    background-color: var(--hlt_clr);
    border: solid 1px transparent;
}

.image:hover:before {
    height: 100%;

}
.image:hover .overlay {
    height: 100%;
    opacity: 1;
    visibility: visible;

}



/* portfolio section ends here */

/* team section starts here */

.common-team {
    text-align: center;
    font-family: 'Oswald',
        sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--dark);
    margin-top: 55px;
    position: relative;
}

.common-team:before {
    content: '';
    width: 100px;
    height: 1px;
    background-color: var(--hlt_clr2);
    position: absolute;
    left: 512px;
    top: 47px;
}

#team .pf1 img {
    display: block;
    margin-top: 50px;
    cursor: pointer;
    position: relative;


}

#team .picture1 {
    display: flex;
    justify-content: space-around;

}

#team .image1 {
    position: relative;
    cursor: pointer;
}

#team .image1:after {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    z-index: 1;
    opacity: 65%;
    transition: all linear 0.3s;
}

#team .overlay1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 41px;
    top: 0;
    flex-direction: column;
    align-items: end;
    
     visibility: hidden;
     opacity: 0;
    z-index: 2;
    transition: all linear 0.3s;


}

#team .overlay1 i {
    font-size: 20px;
    color: var(--white_clr);

    border: solid 1px var(--white_clr);
    border-radius: 50%;
    padding: 10px;
    transition: all linear 0.3s;

}
#team i.fa-facebook-f {
    
    padding: 9px 12px;
}
#team i.fa-pinterest-p {
    padding: 9px 11px;
}
#team i.fa-twitter {
    padding: 9px;
}
.overlay1 a {
    padding: 8px 0px;
}

#team .overlay1 i:hover {
    background-color: var(--hlt_clr);
    border: solid 1px transparent;
}

#team .image1:hover:after {
    width: 80px;

}


#team .image1:hover .overlay1 {
    visibility: visible;
    opacity: 1;
    left: -18px
    
    
    

}
.pf1 h2 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: var(--dark);
    font-family: 'Oswald',
    sans-serif;
    transition: all linear 0.3s;
}
.pf1 p {
    text-align: center;
    font-size: 14px;
    color: var(--gray_clr);
    font-family: 'Oswald',
    sans-serif;
}
.pf1 a:hover h2 {
    color: var(--hlt_clr);
}

 

/* team section ends here */

/* testimonial section starts here */

.common-testimonial {
    text-align: center;
    font-family: 'Oswald',
        sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--dark);
    margin-top: 55px;
    position: relative;
}

.common-testimonial:before {
    content: '';
    width: 100px;
    height: 1px;
    background-color: var(--hlt_clr2);
    position: absolute;
    left: 493px;
    top: 47px;
}
.alom {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    
}
.info {
    text-align: center;
    width: 49%;
    background-color: var(--white-gray_clr);
    margin-top: 35px;
    position: relative;
}
.info p {
    width: 416px;
    margin: 0 auto;
    font-family: 'Oswald',
    sans-serif;
    font-weight: 400;
    color: var(--gray_clr);
    font-size: 13px;
    line-height: 24px;
    padding: 20px 0;
}
.info h2 {
    font-family: 'Oswald',
    sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--dark);
    padding-top: 20px;

}
.info h3 {
    font-family: 'Oswald',
    sans-serif;
    font-weight: 400;
    color: var(--gray_clr);
    font-size: 13px;

}
.info i {
font-size: 13px;
color: var(--hlt_clr);
}
.info:before {
        content: '';
        width: 29px;
        height: 29px;
        background-color: var(--white-gray_clr);
        top: -10px;
        left: 272px;
        transform: rotate(45deg);
        position: absolute;

}


/* testimonial section ends here */

/* footer section starts here */
#footer {
    margin-top: 60px;
    
    background-color: var(--dark);

}
.bealts p {
    font-family: 'Open Sans',
    sans-serif;
    font-size: 13px;
    color: var(--white-gray_clr);
    width: 218px;
    line-height: 24px;
    margin-top: 20px;

}
.bealts h2 {
    font-family: 'Oswald',
    sans-serif;
    font-size: 16px;
    color: var(--white_clr);
    font-weight: 500;
    padding-top: 30px;

}
.logo-logo a {
    display: block;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 13px;
    color: var(--white_clr);
    margin: 3px 0px;
    margin-left: 8px;
    transition: all linear 0.3s;
}
.logo-logo a:hover {
    color: var(--hlt_clr);
}
.logo-logo i {
    color: var(--white_clr);
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--hlt_clr);
    padding: 8px;
    margin-top: 4px;
}
.logo-num {
    margin-top: 20px;
}
.logo2 a {
    padding-bottom: 18px;
    padding-right: 13px;
}
.f-photos img {
    padding-right: 15px;
    padding-bottom: 15px;
}
.f-photos1 {
    margin-top: 30px;
}

.bealts a img {
    padding-top: 25px;
}
/* footer section ends here */



/* copyright starts here */
#copyrightsection {
    background-color: var(--gray_clr);
    height: 45px;

}
.copyright {
    display: flex;
    
    justify-content: center;
    padding-top: 13px;
    
}
.copyright p {
    font-family: 'Open Sans',
    sans-serif;
    font-size: 13px;
    color: var(--white-gray_clr);

}
.copyright a {
    color: var(--hlt_clr);
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
}
/* copyright ends here */


/* test jquery */



#topbtn {
    background: none;
    border: none;
    color: var(--white_clr);
    background-color: var(--hlt_clr);
    padding: 15px;
    position: fixed;
    right: 40px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

/* preloader*/
.preloader {
    background-color: black;
    position: fixed;
    z-index: 999999999999999999;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: circle 2s linear infinite;
    
}

.circle:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
    border-radius: 50%;
}

@keyframes circle {

    0% {
        transform: rotate(0deg);
        box-shadow: 1px 3px 2px #e65c00;

    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 3px 2px #18b201;

    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 3px 2px #0456c8;

    }

}

.preloader p {
    color: white;
    
    letter-spacing: 1px;
    
    
}

/*preloader ends*/


/*fixed menu*/
#bottomheader.fixed-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background: var(--white-gray_clr) ;
    width: 100%;
    animation: smooth .5s;

}
@keyframes smooth {
    0%{
        top: -50px;
    }
    100%{
        top: 0px;
    }
}
/*fixed menu*/
